PATH_DATASETS=./data/datasets
PATH_MODEL_CACHE=./data/model_cache
PATH_OUTPUT=./data/output
PATH_PIPELINES=./data/pipelines
PATH_POSTGRES_DATA=./data/postgres
PATH_CONFIG=./config

ORCHESTRATOR_VERSION=latest
ORCHESTRATOR_PORT=58080

UID=1000
GID=1000
# DOCKER_GID=984 # defaults to GID. Set it when docker.sock uses another group.

POSTGRES_VERSION=17
POSTGRES_DB=scenegendeploybench
POSTGRES_USER=scenegendeploybench
POSTGRES_PASS=scenegendeploybench
